<!doctype html>
<html>
	<head>
		<title>Name Generator</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="css/style.css">

	</head>
	<body>


	<div id="app" v-cloak>
		<header class="header">
			<input v-model="templateName" id="inName" placeholder="Template Name"></input>
			<span class="options">
				<drop-down v-bind.sync="methodOptions"></drop-down>
				<drop-down v-bind.sync="partsOptions"></drop-down>
			</span>
			<button @click="generateName" id="btnGenerate">New Name</button>
		</header>

		<ul id="names">
			<name-entry v-for="(entry, index) in names" :key="index" v-bind.sync="entry" v-on:name-clicked="setTemplate"></name-entry>
		</ul>
	</div>

	<script src="js/vue.min.js"></script>
	<script src="js/namegen.js"></script>
	<script src="js/app.js"></script>

	</body>
</html>
